/* @import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,500;1,500&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*, 
::after, 
::before {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, a, button {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

h1 {
    font-family: "Raleway", sans-serif; 
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: #2c2d35;
}

h2 {
    font-family: "Raleway", sans-serif; 
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #f4f6f5;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #2c2d35;
}

h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #598d66;
}

h5 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
}

p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
}

.btn-wrapper {
    border: 1px solid #598d66;
    padding: 20px 60px;
    width: 227px;
    height: 65px;
    cursor: pointer;
    background-color: #ffff;

    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #598d66;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
    
}
.grid-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "replics"
        "reproduction-header"
        "reproduction"
        "new-collections"
        "team"
        "footer";
}

header {
    grid-area: header;
    background: #e1ede6;
    padding: 33px 0 32px 0;
}

.replics {
    grid-area: replics;
}

.header-container {
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.header-right {
    gap: 60px;
}

.header-right a{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
}

.replics {
    justify-content: space-between;
}

.replics-right-text {
    flex-direction: column;
    justify-content: center;

}

.replics-right-text p {
    margin: 20px 0 60px;
    color: #86928b;
}

.span {
    color: #598D66;
}

.reproduction-header {
    grid-area: reproduction-header;
    justify-content: space-between;
    margin-top: 20px;
}

.reproduction-header-right button {
    background-color: #d4e8d9;
    border-color: green;
    border-radius: 20px;
    padding: 10px 20px;
    width: 126px;
    height: 43px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
    text-align: center;
}

.reproduction-header-right {
    gap: 32px;
}

.reproduction {
    grid-area: reproduction;
}


.repro-img-block p{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #86928b;
   
}
.authors {
    font-family: "Raleway", sans-serif;;
    font-weight: 500;
    font-size: 18px;
    color: #2c2d35;
    margin-bottom: 30px;
}

.repro-img-block {
    padding: 20px 20px 30px 20px;
    background-color: #e1ede6;
}

.repro-img-block h5 {
    font-family: "Raleway", sans-serif; ;
    font-weight: 500;
    font-size: 24px;
    color: #598d66;
    margin-bottom: 20px;
} 

.repro-img-block h4 {
    margin: 10px 0 10px 0;
    color: #2c2d35;
}

.reproduction {
    margin-top: 40px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    justify-items: center;
    row-gap: 30px;
    column-gap: 10px;
}

.repro-img-block button {
    border: 1px solid #598d66;
    padding: 20px 60px;
    width: 310px;
    height: 65px;
}

.new-collections {
    grid-area: new-collections;
    background: url(./img/background.png) no-repeat  center;
    background-size: cover;
}
.new-collection-inner {
    padding: 5% 35% 5% 0;
}

.new-colection-title button{
    margin-top: 60px;
    font-family: "Raleway", sans-serif; ;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
    background: #eedb6d;
    padding: 20px 60px;
    width: 257px;
    height: 65px;
}

.logo-title h2 {
    padding: 0 0 0 5%;
}

.team {
    grid-area: team;
    justify-content: space-between;
}

.team-img-left {
    margin-top: 70px;
}



.team-authors-right {
    margin-top: 200px;
    padding-left: 40px;
    padding-right: 5%;
    flex-direction: column;
}

.authors {
    width: 80px;
    height: 80px;
    gap: 30px;
}

.team-authors-right h2 {
    color: black;
}

.team-authors-right p {
    color: black;
}

footer {
    background: #e1ede6;
}
.footer-main  {
    gap: 60px;
    justify-content: space-evenly;
    padding: 1%;
}

.footer-reproduction {
    flex-direction: column;
    gap: 6px;
}

.footer-new-blog {
    flex-direction: column;
    gap: 6px;
}

.footer-for-me {
    flex-direction: column;
    gap: 6px;
}
.footer-logo-number img {
    width: 145px;
    height: 35px;
}

.footer-social {
    justify-content: flex-end;
    align-items: center;
}

.footer-reproduction a {
    font-family: "Raleway", sans-serif; ;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    text-decoration: none;
}

.footer-new-blog a {
    font-family: "Raleway", sans-serif; ;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    text-decoration: none;
}

.footer-for-me a {
    font-family: "Raleway", sans-serif; ;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    text-decoration: none;
} */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.5.15,
* Autoprefixer: v10.5.0
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,500;1,500&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*, 
::after, 
::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, a, button {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

h1 {
    font-family: "Raleway", sans-serif; 
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: #2c2d35;
}

h2 {
    font-family: "Raleway", sans-serif; 
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #f4f6f5;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #2c2d35;
}

h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #598d66;
}

h5 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
}

p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
}

.btn-wrapper {
    border: 1px solid #598d66;
    padding: 20px 60px;
    width: 227px;
    height: 65px;
    cursor: pointer;
    background-color: #ffff;

    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #598d66;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.d-grid {
    display: -ms-grid;
    display: grid;
    
}
.grid-area {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "replics"
        "reproduction-header"
        "reproduction"
        "new-collections"
        "team"
        "footer";
}

header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    background: #e1ede6;
    padding: 33px 0 32px 0;
}

.replics {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: replics;
}

.header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
}

.header-right {
    gap: 60px;
}

.header-right a{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
}

.replics {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.replics-right-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.replics-right-text p {
    margin: 20px 0 60px;
    color: #86928b;
}

.span {
    color: #598D66;
}

.reproduction-header {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: reproduction-header;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
}

.reproduction-header-right button {
    background-color: #d4e8d9;
    border-color: green;
    border-radius: 20px;
    padding: 10px 20px;
    width: 126px;
    height: 43px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
    text-align: center;
}

.reproduction-header-right {
    gap: 32px;
}

.reproduction {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: reproduction;
}


.repro-img-block p{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #86928b;
   
}
.authors {
    font-family: "Raleway", sans-serif;;
    font-weight: 500;
    font-size: 18px;
    color: #2c2d35;
    margin-bottom: 30px;
}

.repro-img-block {
    padding: 20px 20px 30px 20px;
    background-color: #e1ede6;
}

.repro-img-block h5 {
    font-family: "Raleway", sans-serif; ;
    font-weight: 500;
    font-size: 24px;
    color: #598d66;
    margin-bottom: 20px;
} 

.repro-img-block h4 {
    margin: 10px 0 10px 0;
    color: #2c2d35;
}

.reproduction {
    margin-top: 40px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    justify-items: center;
    row-gap: 30px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
}

.repro-img-block button {
    border: 1px solid #598d66;
    padding: 20px 60px;
    width: 310px;
    height: 65px;
}

.new-collections {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: new-collections;
    background: url(./img/background.png) no-repeat  center;
    background-size: cover;
}
.new-collection-inner {
    padding: 5% 35% 5% 0;
}

.new-colection-title button{
    margin-top: 60px;
    font-family: "Raleway", sans-serif; ;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
    background: #eedb6d;
    padding: 20px 60px;
    width: 257px;
    height: 65px;
}

.logo-title h2 {
    padding: 0 0 0 5%;
}

.team {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: team;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.team-img-left {
    margin-top: 70px;
}



.team-authors-right {
    margin-top: 200px;
    padding-left: 40px;
    padding-right: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.authors {
    width: 80px;
    height: 80px;
    gap: 30px;
}

.team-authors-right h2 {
    color: black;
}

.team-authors-right p {
    color: black;
}

footer {
    background: #e1ede6;
}
.footer-main  {
    gap: 60px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 1%;
}

.footer-reproduction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6px;
}

.footer-new-blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6px;
}

.footer-for-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6px;
}
.footer-logo-number img {
    width: 145px;
    height: 35px;
}

.footer-social {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-reproduction a {
    font-family: "Raleway", sans-serif; ;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    text-decoration: none;
}

.footer-new-blog a {
    font-family: "Raleway", sans-serif; ;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    text-decoration: none;
}

.footer-for-me a {
    font-family: "Raleway", sans-serif; ;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    text-decoration: none;
}